html, body{
    margin:0px;
    padding:0px;
    font-size: 15px;
    box-sizing: border-box;

}
/*Css du premier block */
.presentation
{   
    
    width: 780px;
    margin:auto;
    font-family: 'Roboto', sans-serif;

}
.infophoto
{
    display:flex;
}
    
.photo {
    width:33%;
    background-color: #feca07;
    text-align: center;
    padding-top:45px;   
}
img{
    border-radius: 50%;
    border:3px solid #daaf12;
}
.info{
    padding:50px;
}
h1{
    font-size:40px ;
    text-transform: uppercase;
}
.color{
    color: #feca07;
}
.border{
    border-bottom:1px solid #feca07;
}
h4{
    font-size: 20px;
}
/* Fin du premier block */

/* Début du deuxième , sous la photo */ 
.contact
{
    width:61%;
    background-color: #feca07;
}
h2
{
    background-color:#404040;
    text-align: center;
    color: #feca07;
    text-transform: uppercase;
    margin:0;
}
   
.container{
    display:flex;

}
.section{

    padding:20px;
}
.section2{
    padding:1px 20px 300px 20px;
    text-align: justify;
}
.section3 i{
    display: block;
    font-size: 30px;
    width: 50px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    color: #404040;
    border: 2px solid #404040;
    border-radius: 50%;
    
}