html, body{
    margin:0px;
    font-size: 15px;
    box-sizing: border-box;
    background-color: grey;

}
/*Css du premier block */

.presentation
{   
    display:flex;
    flex-direction: column;
    width: 850px;
    margin:auto;
    font-family: 'Roboto', sans-serif;
    

}
.infophoto
{
    display: flex;
}
    
.photo {
    width:27%;
    background-color: #269be6;
    text-align: center;
    padding-top:30px;   
    padding-bottom: 30px;
}
img{
    border-radius: 50%;
    border:3px solid #252ed4;

}
.contact
{
    font-size: 13px;
}
.info{
    padding-top:40px;
    padding-left:40px;
    padding-bottom: 10px;
    width: 60%;
    background-color: white;
}
h1{
    font-size:40px ;
    text-transform: uppercase;
    
}
.color{
    color: #269be6;
}
.border{
    border-bottom:1px solid #269be6;
}

h4{
    
    font-size: 20px;
}
/* Fin du premier block */

/* Début du deuxième , sous la photo */ 
.contact
{
    width:61%;
    background-color: #269be6;
    
}
h2
{
    background-color:#404040;
    text-align: center;
    color: #269be6;
    text-transform: uppercase;
    height:40px;
    padding-top:15px

    
  
}
   
.container{
    width:780px;
    display:flex;
    ;

}
.section{

    padding:20px;
}
.section2{
    padding:1px 20px 350px 20px;
    text-align: justify;
}
.section3{
    text-align: center;
    padding-top:30px;
    padding-bottom: 0;
    
}
.section3 i{
    
    font-size: 20px;
    text-align: center;
    width: 40px;
    height: 40px;
    line-height: 40px;
    color: #404040;
    border: 2px solid #404040;
    border-radius: 50%;
    
    
}
/*Fin de la partie jaune */


/*Debut de la partie blanche*/ 
.experience{
    padding-left:50px;
    padding-right: 50px;
    background-color: white;
}
h3 i{
    color:#269be6;
    padding-right:20px;
    font-size:30px;
}
h3{
    text-transform: uppercase;
    font-size: 20px;
    border-bottom:3px solid #269be6;
    padding-bottom: 5px;
}
.section-sub{
    display: flex;
    text-align: justify;
    font-size: 13px;
}



.details .p
{
    padding-top:10px; 
    padding-left: 150px;
}
.details
{
    padding-left: 50px;
  
}
.date{
    width:30px;
}
.icônes
{
    font-size: 10px;
    color:#269be6;
    
}
.ico
{
padding-top:15px;
padding-right: 15px;
}
.ico2
{
    padding-top: 136px;
}
.ico3
{
padding-top:15px;
padding-right: 15px;

}
.ico4
{
    padding-top:150px;
}
.ico5
{
    padding-top:135px;

}
.section-sub2
{
    display: flex;
    padding-bottom: 75px;
}
.rec-left
{
    padding-right: 100px;
    line-height: 2;
   
}
.rec-right
{
    line-height: 2;
}




/*Fin de la partie blanche*/ 
/*!la partie responsive */ 


@media screen and (min-width:320px) and (max-width:680px){
    .presentation{
        width: auto;
        margin: 0 10px;
        padding:10px;
    }
    .infophoto {
       
        display:flex;
        flex-direction: column;
    }
    .info{
        width:100%;
        padding:0;
        text-align: center;
    }
    .photo{
        width:100%;  
    }
    .container{
        flex-direction: column-reverse;
        padding:0px;
        width:100%;
        
    }
    .experience{
        padding:0;
        margin:0;
        width:100%;
        
    }
    .section-sub{
        padding:0;
        width:100%;
    }
    .contact{
        width:100%;
        flex-direction: column-reverse;
    }
    .section{
        text-align: center;
    }
    .section2{
        padding:1px 20px 20px 20px;
    }
    .section3{
        padding:20px;
    }
    .details p{
        padding:13px;
    }
    .icônes{
        padding:10px
    }
    .rec-left,.rec-right{
        padding:13px;
    }
    h3{
        padding-left: 10px;
        padding-right: 10px;
    }
    }
    
