html, body{
    margin:0px;
    font-size: 15px;
    background-color: grey;
}
/*Css du premier block */
main
{   
    display:flex;
    flex-direction: column;
    width: 850px;   /* Definit la taille de la page */ 
    margin:auto; /* Centre la page */ 
    font-family: 'Roboto', sans-serif;
}
section
{
    display: flex;
}  
figure{
background-color: #269be6;
width:28%;
margin:0;
text-align:center;
padding-top:37px;
}
   
img{
    border-radius: 50%;
    border:3px solid #252ed4;
}
.contact
{
    font-size: 13px;
}
.main_title{
    padding-top:40px;
    padding-left:40px;
    padding-bottom: 10px;
    width:59%;
    background-color: white;
}
h1{
    font-size:40px ;
    text-transform: uppercase;  
}
.color{
    color: #269be6;
}
.border{
    border-bottom:1px solid #269be6;
}
.title{  
    font-size: 16px;
}
/* Fin du premier block */

/* Début du deuxième , sous la photo */ 
.contact
{
    width:67%;
    background-color: #269be6;  
}
h2
{
    background-color:#404040;
    text-align: center;
    color: #269be6;
    text-transform: uppercase;
    height:40px;
    padding-top:15px
} 
.container{
    width:780px;
    display:flex;
}
.contact_section{
    padding:20px;
}
.contact_section2{
    padding:1px 20px 350px 20px;
    text-align:justify;
}
.contact_section3{
    text-align: center;
    padding-top:50px;
    padding-bottom:30px; 
    margin:0; 
}
.contact_section3 i{ /*Création d'un cercle autour des icônes*/
    font-size: 20px;
    text-align: center;
    width: 40px;
    height: 40px;
    line-height: 40px;
    color: #404040;
    border: 2px solid #404040;
    border-radius: 50%;
}
/*Fin de la partie jaune */

/*Debut de la partie blanche*/ 
.experience{
    padding-left:40px;
    padding-right: 40px;
    background-color: white;
}
.date_              /*pour décaler la hauter des dates*/
{
   padding-top:56px; 
}
h3 i{
    color:#269be6;
    padding-right:20px;
    font-size:30px;
}
h3 {
    text-transform: uppercase;
    font-size: 20px;
    border-bottom:3px solid #269be6;
    padding-bottom: 5px;
}
.section-sub{
    display: flex;
    text-align: justify;
    font-size: 13px;
}
.details .p
{
    padding-top:10px; 
    padding-left: 150px;
}
.details
{
    padding-left: 50px;
    padding-bottom: 40px;
}
.date{
    width:30px;
}
.date_1    /* Date_1 et date_2 pour supprimer les br */ 
{
    padding-top: 85px;
}
.date_2
{
    padding-top:90px;
}
.icônes
{
    font-size: 10px;
    color:#269be6;
}
.ico
{
padding-top:15px;
padding-right: 15px;
}
.ico2
{
    padding-top: 136px;
}
.ico3
{
padding-top:15px;
padding-right: 15px;

}
.ico4
{
    padding-top:150px;
}
.ico5
{
    padding-top:135px;

}
.section-sub2
{
    display: flex;
    padding-bottom: 35px;
    font-size:13px;
}
.rec-left
{
    padding-right: 100px;
    line-height: 2;
}
.rec-right
{
    line-height: 2;
}
.media
{
    display: none;
}
/*Fin de la partie blanche*/ 
/*!la partie responsive */ 
@media screen and (min-width:320px) and (max-width:820px){   /*Cela signifie que c'est les écrans entre 320 et 820px, je l'ai élargit à cause des galaxy s9 qui sont de 812 px */ /* le paysage fonctionne */ 
    main{
        width: auto;
        margin: 0 10px;
        padding:10px;
    }
    section {
       
        display:flex;
        flex-direction: column;
    }
    .main_title{
        width:100%;
        padding:0;
        text-align: center;
    }
    figure{
        width:100%;  
        padding-bottom: 32px;
    }

    .container{
        flex-direction: column-reverse;
        padding:0px;
        width:100%;
        
    }
    .experience{
        padding:0;
        margin:0;
        width:100%;
    }
    .section-sub{
        padding:0;
        width:100%;
    }
    .contact{
        width:100%;
        flex-direction: column-reverse;
    }
    .contact_section{
        text-align: center;
    }
    .contact_section2{
        padding:1px 20px 20px 20px;
    }
    .contact_section3{
        padding:20px;
    }
    .details p{
        padding:13px;
    }
    h3{
        padding-left: 10px;
        padding-right: 10px;
    }
    .ico, .ico2, .ico3, .ico4 , .ico5
    {
        display:none;          /* Les icônes sont supprimés */ 
    }
    h3 
    {
        text-align: center;
    }
    .date 
    {
        display:none;
    }
    .media 
    {
        display:contents;
    }
    .details{
        text-align: center;
        padding-right: 35px;
    }
    .details br {
        display:none;

    }
    .section-sub2{
        font-size: 13px;
    }
   
    .section-sub2{
    
        display: flex;
        flex-direction: column;
        text-align: center;
        
    }
    .section-sub2 strong{
        font-size: 13px;
    }
    .rec-left{
        text-align: center;
        padding-right:0;  /*Annulation de la mise en page sans média Q */ 
    }
    strong
    {
        font-size :17px;
    }
    
    }


    